[submodule "phoenix-rtos-kernel"]
	path = phoenix-rtos-kernel-fork
	url = https://github.com/bartekpaczek/phoenix-rtos-kernel-fork
[submodule "libphoenix"]
	path = libphoenix
	url = https://github.com/phoenix-rtos/libphoenix
[submodule "phoenix-rtos-build"]
	path = phoenix-rtos-build
	url = https://github.com/phoenix-rtos/phoenix-rtos-build
[submodule "phoenix-rtos-ports"]
	path = phoenix-rtos-ports
	url = https://github.com/phoenix-rtos/phoenix-rtos-ports
[submodule "phoenix-rtos-devices"]
	path = phoenix-rtos-devices
	url = https://github.com/phoenix-rtos/phoenix-rtos-devices
[submodule "phoenix-rtos-filesystems"]
	path = phoenix-rtos-filesystems
	url = https://github.com/phoenix-rtos/phoenix-rtos-filesystems
[submodule "phoenix-rtos-usb"]
	path = phoenix-rtos-usb
	url = https://github.com/phoenix-rtos/phoenix-rtos-usb
[submodule "phoenix-rtos-lwip"]
	path = phoenix-rtos-lwip
	url = https://github.com/phoenix-rtos/phoenix-rtos-lwip
[submodule "phoenix-rtos-posixsrv"]
	path = phoenix-rtos-posixsrv
	url = https://github.com/phoenix-rtos/phoenix-rtos-posixsrv
[submodule "phoenix-rtos-tests"]
	path = phoenix-rtos-tests
	url = https://github.com/phoenix-rtos/phoenix-rtos-tests
[submodule "phoenix-rtos-corelibs"]
	path = phoenix-rtos-corelibs
	url = https://github.com/phoenix-rtos/phoenix-rtos-corelibs/
[submodule "phoenix-rtos-hostutils"]
	path = phoenix-rtos-hostutils
	url = https://github.com/phoenix-rtos/phoenix-rtos-hostutils/
[submodule "phoenix-rtos-utils"]
	path = phoenix-rtos-utils
	url = https://github.com/phoenix-rtos/phoenix-rtos-utils/
[submodule "plo"]
	path = plo
	url = https://github.com/phoenix-rtos/plo.git
[submodule "phoenix-rtos-doc"]
	path = phoenix-rtos-doc
	url = https://github.com/phoenix-rtos/phoenix-rtos-doc
