if { [info exists PLO_PATH] == 0 } {
	# Try to get from environment variables
	if { [dict exists $env PLO_PATH] } {
		set PLO_PATH [dict get $env PLO_PATH]
	} else {
		puts "ERROR: PLO_PATH not set. Please set PLO_PATH to point at plo-ram.elf file."
		shutdown
	}
}

init
reset halt

set x 0
set max_attempts 2
while { $x < $max_attempts } {
	load_image $PLO_PATH
	# Extract reset vector from the vector table and jump to it
	resume [mrw 0x34180404]
	# Wait a short time for plo and RTT to be initialized
	sleep 500
	halt
	# On cold boot soon after resume the chip will reset and go back into Boot ROM.
	# Check if we're executing out of Boot ROM now.
	if { [lindex [get_reg {pc}] 1] < 0x20000000 } {
		# After a reset something in the debug probe doesn't get reinitialized properly.
		# For some inscrutable reason performing a byte or halfword (but not word!) access
		# to any address makes the interface work again.
		mdb 0x34180000
	} else {
		break
	}

	incr x
}

if { $x == $max_attempts } {
	puts "ERROR: Failed to run plo"
	shutdown
}

resume

rtt setup 0x3001ff00 0x100 "RTT PIPE"
rtt server start 18021 0
rtt server start 18022 1
rtt polling_interval 1
rtt start
