# vim:sw=2:ts=2
# reusable build/test workflow for submodules
name: ci-submodule

on:
  workflow_call:
    inputs:
      image-tag:
        type: string
        description: 'Docker image tag version'
        default: 'latest'
        required: false
      build_params:
        type: string
        description: "parameters to build.sh script"
        default: 'host core fs test project image'  # by default don't build ports
        required: false
      nightly:
        type: boolean
        default: false
        required: false

      cpptest_enabled:
        type: boolean
        description: "enable cpptest analysis"
        default: false
        required: false
      cpptest_targets:
        type: string
        description: "comma separated list of targets to run cpptest on"
        # NOTE: ia32, RISC-V and SPARC targets are not suppoted by parasoft cpptest
        default: 'armv7a7-imx6ull-evk, armv7m7-imxrt117x-evk, armv7r5f-zynqmp-qemu, aarch64a53-zynqmp-qemu'
        required: false
      cpptest_ruleset:
        type: string
        description: "cpptest ruleset to use (builtin or user)"
        default: "user://MISRA C 2012 Phoenix"
        required: false


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - 'armv7a7-imx6ull-evk'
          - 'armv7a9-zynq7000-qemu'
          - 'armv7a9-zynq7000-zedboard'
          - 'armv7a9-zynq7000-zturn'
          - 'armv7m4-stm32l4x6-nucleo'
          - 'armv7m7-imxrt105x-evk'
          - 'armv7m7-imxrt106x-evk'
          - 'armv7m7-imxrt117x-evk'
          - 'armv7r5f-zynqmp-qemu'
          - 'armv8r52-mps3an536-qemu'
          - 'armv8m33-mcxn94x-frdm'
          - 'aarch64a53-zynqmp-qemu'
          - 'host-generic-pc'
          - 'ia32-generic-pc'
          - 'ia32-generic-qemu'
          - 'riscv64-generic-qemu'
          - 'riscv64-gr765-vcu118'
          - 'riscv64-grfpga-artya7'
          - 'sparcv8leon-generic-qemu'
          - 'sparcv8leon-gr712rc-board'
          - 'sparcv8leon-gr716-mimas'
          - 'sparcv8leon-gr716-mini'
          - 'sparcv8leon-gr740-mini'
        include:
          - target: 'armv7a9-zynq7000-qemu'
            additional_params: 'ports'
    steps:
      # step 1 : checkout submodule
      - name: Checkout submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # step 2: checkout phoenix-rtos-project repository code in .buildroot and symlink submodule name to `workspace`
      # that way workspace file paths will match submodule paths - making problem matchers work
      # BUILD_DIRECTORY - absolute path to phoenix-rtos-project
      # CI_CUSTOM_BUILDROOT - relative path to phoenix-rtos-project (from GH Actions workspace)
      - name: Checkout phoenix-rtos-project
        # we need to use relative paths here so they would work in docker env
        run: |
          mkdir .buildroot && cd .buildroot
          git clone https://github.com/phoenix-rtos/phoenix-rtos-project --recurse-submodules
          cd phoenix-rtos-project
          echo "BUILD_DIRECTORY=$(pwd)" >> $GITHUB_ENV
          echo "CI_CUSTOM_BUILDROOT=.buildroot/phoenix-rtos-project" >> $GITHUB_ENV
          git log -1 --pretty=oneline
          git submodule
          rm -rf ${{ github.event.repository.name }}
          ln -s ../.. ${{ github.event.repository.name }}

      # attach GCC problem matcher - will pin problems to files only in current submodule
      - name: Add GCC problem matcher
        run: echo "::add-matcher::./.buildroot/phoenix-rtos-project/.github/problem-matchers/gcc.json"

      # step 3: use our custom action to build the project
      - name: Build
        id: build
        uses: ./.buildroot/phoenix-rtos-project/.github/actions/phoenix-build    # BUILD_DIRECTORY value, but we can't use templates here
        with:
          image-tag: ${{ inputs.image-tag }}
          target: ${{ matrix.target }}
          params: ${{ inputs.build_params }} ${{ matrix.additional_params }}
          buildroot: ${{env.CI_CUSTOM_BUILDROOT}}
          nightly: ${{ inputs.nightly }}

      # step 4: tar rootfs
      - name: Tar rootfs
        working-directory: ${{env.BUILD_DIRECTORY}}/_fs
        run: tar -cvf ../rootfs-${{ matrix.target }}.tar ${{ matrix.target }}/root

      # step 5: upload project boot directory and tarball of rootfs as build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: phoenix-rtos-${{ matrix.target }}
          path: |
            ${{env.BUILD_DIRECTORY}}/_boot/${{ matrix.target }}
            ${{env.BUILD_DIRECTORY}}/rootfs-${{ matrix.target }}.tar

      - name: Upload compilation database artifacts
        if: ${{ inputs.cpptest_enabled && contains(inputs.cpptest_targets, matrix.target) }}
        uses: actions/upload-artifact@v4
        with:
          name: compile-db-artifacts-${{ matrix.target }}
          retention-days: 1 # only to pass between jobs
          path: |
            ${{env.BUILD_DIRECTORY}}/_build/${{ matrix.target }}/sysroot
            ${{env.BUILD_DIRECTORY}}/_build/${{ matrix.target }}/include
            ${{env.BUILD_DIRECTORY}}/_build/${{ matrix.target }}/compile_commands.json


  # convert cpptest_targets input into matrix format
  cpptest_setup_targets:
    if: inputs.cpptest_enabled
    name: cpptest setup targets
    runs-on: ubuntu-latest
    outputs:
      matrix-targets: ${{ steps.set-matrix.outputs.matrix-targets }}
    steps:
      - name: Set matrix targets
        id: set-matrix
        run: |
          echo "matrix-targets=$(jq 'split(",") | map(sub("^\\s+"; "") | sub("\\s+$"; ""))' -Rc <(echo '${{ inputs.cpptest_targets }}'))" >> $GITHUB_OUTPUT

  # run Parasoft CppTest on changed files only, using compile_commands.json from build job to get correct include paths and defines for accurate analysis
  cpptest:
    needs:
      - build
      - cpptest_setup_targets
    name: cpptest
    if: inputs.cpptest_enabled
    runs-on: cpptest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.cpptest_setup_targets.outputs.matrix-targets) }}

    steps:
      - name: Checkout phoenix-rtos-project
        uses: actions/checkout@v4
        with:
          repository: phoenix-rtos/phoenix-rtos-project
          submodules: recursive

      - name: Update submodule ${{ github.event.repository.name }}
        working-directory: ${{ github.event.repository.name }}
        run: |
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/heads/*:refs/remotes/origin/*"
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/pull/*/head:refs/remotes/origin/pr/*"
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/pull/*/merge:refs/remotes/origin/pr/*"
          git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47.0.1
        with:
          path: ${{ github.event.repository.name }}
          files: |
            **.c
            **.h

      - name: Download compile db artifacts
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/download-artifact@v4
        with:
          name: compile-db-artifacts-${{ matrix.target }}
          path: _build/${{ matrix.target }}

      - name: List all changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done

      - name: Fix compile_commands.json paths
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          python3 ./scripts/ci/fix_compile_commands.py _build/${{ matrix.target }}/compile_commands.json > _build/${{ matrix.target }}/compile_commands-fixed.json
          mv _build/${{ matrix.target }}/compile_commands-fixed.json _build/${{ matrix.target }}/compile_commands.json

      # NOTE: this step will only analyze changed files - so code flow analysis quality is lower, but it will be much faster and more focused on changes in PRs.
      - name: Run cpptest
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          # use ENV variables to pass inputs - resolves quoting/escaping issues
          CPPTEST_CONFIG: ${{ inputs.cpptest_ruleset }}
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
          CPPTEST_COMPILER: ${{ case(contains(matrix.target, 'aarch64'), 'gcc_14-aarch64', 'gcc_14-aarch32') }}
        run: |
          resources=()
          for file in $ALL_CHANGED_FILES; do
            resources+=("-resource" "${{ github.event.repository.name }}/$file")
          done
          cpptestcli -config "$CPPTEST_CONFIG" -input "_build/${{ matrix.target }}/compile_commands.json" \
            -compiler "$CPPTEST_COMPILER" -module . -property report.format=sarif,html "${resources[@]}"

      - name: Upload SARIF report
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: reports/report.sarif
          checkout_path: ${{ github.workspace }}/${{ github.event.repository.name }}

      - name: "Upload cpptest results"
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          path: reports/*
          name: cpptest-reports-${{ matrix.target }}


  test-emu:
    needs: build
    name: test EMU
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ['armv7a9-zynq7000-qemu', 'host-generic-pc', 'ia32-generic-qemu', 'riscv64-generic-qemu', 'sparcv8leon-generic-qemu', 'aarch64a53-zynqmp-qemu', 'armv7r5f-zynqmp-qemu']

    steps:
      - name: Checkout phoenix-rtos-project
        uses: actions/checkout@v4
        with:
          repository: phoenix-rtos/phoenix-rtos-project
          submodules: recursive

      - name: Update submodule ${{ github.event.repository.name }}
        working-directory: ${{ github.event.repository.name }}
        run: |
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/heads/*:refs/remotes/origin/*"
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/pull/*/head:refs/remotes/origin/pr/*"
          git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: phoenix-rtos-${{ matrix.target }}

      - name: Untar rootfs
        working-directory: _fs
        run: tar -xvf ../rootfs-${{ matrix.target }}.tar

      - name: Add sanitizers problem matcher
        run: echo "::add-matcher::.github/problem-matchers/sanitizer-errors.json"

      - name: Test runner
        id: runner
        uses: ./.github/actions/phoenix-runner
        with:
          image-tag: ${{ inputs.image-tag }}
          target: ${{ matrix.target }}
          nightly: ${{ inputs.nightly }}

      - name: Gather trace from target
        if: matrix.target == 'ia32-generic-qemu' || matrix.target == 'riscv64-generic-qemu'
        working-directory: phoenix-rtos-hostutils/trace
        run: |
          # TODO: add support for non-MBR QEMU targets
          # TODO: remove wildcard pattern once the rootfs disk names become standarized
          # or CI becomes aware of nvm.yaml
          DISK_PATH=( "../../_boot/${{ matrix.target }}"/*0.disk )
          OFS="$(./get_rootfs_offset.sh "${DISK_PATH}")"

          sudo mount -o loop,offset="${OFS}" "${DISK_PATH}" /mnt
          sudo cp -r /mnt/test_perf_trace ctf_trace

      - name: Test trace parsability
        if: matrix.target == 'ia32-generic-qemu' || matrix.target == 'riscv64-generic-qemu'
        uses: ./.github/actions/phoenix-convert-trace
        with:
          image-tag: ${{ inputs.image-tag }}
          trace-path: ./phoenix-rtos-hostutils/trace/ctf_trace

      - name: Upload resulting traces
        if: matrix.target == 'ia32-generic-qemu' || matrix.target == 'riscv64-generic-qemu'
        uses: actions/upload-artifact@v4
        with:
          name: trace-${{ matrix.target }}
          path: |
            out.pftrace

      - name: Upload runner results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.target }}
          path: |
            results.csv
            results.xml

  # runs on self-hosted runners with HW targets attached
  test-hw:
    needs: build
    name: test HW
    runs-on: ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        target: ['armv7a7-imx6ull-evk', 'armv7m7-imxrt106x-evk', 'armv7m7-imxrt117x-evk', 'armv7a9-zynq7000-zedboard', 'armv7m4-stm32l4x6-nucleo']

    steps:
      - name: Checkout phoenix-rtos-project
        uses: actions/checkout@v4
        with:
          repository: phoenix-rtos/phoenix-rtos-project
          submodules: recursive

      - name: Update submodule ${{ github.event.repository.name }}
        working-directory: ${{ github.event.repository.name }}
        run: |
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/heads/*:refs/remotes/origin/*"
          git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/pull/*/head:refs/remotes/origin/pr/*"
          git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: phoenix-rtos-${{ matrix.target }}

      - name: Untar rootfs
        working-directory: _fs
        run: tar -xvf ../rootfs-${{ matrix.target }}.tar

      - name: Test runner
        id: runner
        run: |
          python3 ./phoenix-rtos-tests/runner.py -v -T${{ matrix.target }} ${{ inputs.nightly && '--nightly' || '' }} -Oresults.csv

      - name: Upload runner results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.target }}
          path: |
            results.csv
            results.xml

  tests-summary:
    if: success() || failure()   # don't care about cancelled runs
    needs: ['test-emu', 'test-hw']
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: test-results-*

      - name: Display structure of downloaded files
        run: ls -R

      - name: Merge Test Results
        run: |
          pip3 install junitparser junit2html
          junitparser merge artifacts/test-results-*/results.xml junit.xml
          junit2html junit.xml junit.html
        env:
          PIP_BREAK_SYSTEM_PACKAGES: 1  # NOTE: we're running on emphemeral GH VMs, install packages globally

      - name: Upload Merged Unit Test Results in HTML
        uses: actions/upload-artifact@v4
        with:
          name: Merged Unit Test Results
          if-no-files-found: ignore
          path: |
            junit.html
            junit.xml

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: Unit Test Results
          files: "junit.xml"


  send-notification:
    needs: ['build', 'test-emu', 'test-hw']
    if: failure() && github.event_name != 'pull_request'
    uses: phoenix-rtos/phoenix-rtos-project/.github/workflows/_send_google_chat.yml@master
    secrets: inherit
