# vim:sw=2:ts=2
# reusable build/test workflow for submodules
name: ci-submodule

on:
  workflow_call:
    inputs:
      image-tag:
        type: string
        description: 'Docker image tag version'
        default: 'latest'
        required: false
      build_params:
        type: string
        description: "parameters to build.sh script"
        default: 'host core fs test project image'  # by default don't build ports
        required: false
      nightly:
        type: boolean
        default: false
        required: false

  workflow_dispatch:
    inputs:
      image-tag:
        type: string
        description: 'Docker image tag version'
        default: 'latest'
        required: false
      build_params:
        type: string
        description: "parameters to build.sh script"
        default: 'host core fs test project image'  # by default don't build ports
        required: false



jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
#          - 'armv7a7-imx6ull-evk'
          - 'armv7a9-zynq7000-qemu'
#          - 'armv7a9-zynq7000-zedboard'
#          - 'armv7a9-zynq7000-zturn'
#          - 'armv7m4-stm32l4x6-nucleo'
#          - 'armv7m7-imxrt105x-evk'
#          - 'armv7m7-imxrt106x-evk'
#          - 'armv7m7-imxrt117x-evk'
#          - 'armv8r52-mps3an536-qemu'
#          - 'armv8m33-mcxn94x-frdm'
#          - 'aarch64a53-zynqmp-qemu'
#          - 'host-generic-pc'
#          - 'ia32-generic-pc'
#          - 'ia32-generic-qemu'
#          - 'riscv64-generic-qemu'
#          - 'riscv64-grfpga-artya7'
#          - 'sparcv8leon-generic-qemu'
#          - 'sparcv8leon-gr712rc-board'
#          - 'sparcv8leon-gr716-mimas'
#          - 'sparcv8leon-gr716-mini'
#          - 'sparcv8leon-gr740-mini'
        include:
          - target: 'armv7a9-zynq7000-qemu'
            additional_params: 'all bear'
    steps:
      # step 1 : checkout submodule
      - name: Checkout submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # step 2: checkout phoenix-rtos-project repository code in .buildroot and symlink submodule name to `workspace`
      # that way workspace file paths will match submodule paths - making problem matchers work
      # BUILD_DIRECTORY - absolute path to phoenix-rtos-project
      # CI_CUSTOM_BUILDROOT - relative path to phoenix-rtos-project (from GH Actions workspace)
      - name: Checkout phoenix-rtos-project
        # we need to use relative paths here so they would work in docker env
        run: |
          echo test 
          mkdir .buildroot && cd .buildroot
          git clone https://github.com/bartekpaczek/phoenix-rtos-project-fork phoenix-rtos-project --recurse-submodules
          cd phoenix-rtos-project
          echo "BUILD_DIRECTORY=$(pwd)" >> $GITHUB_ENV
          echo "CI_CUSTOM_BUILDROOT=.buildroot/phoenix-rtos-project" >> $GITHUB_ENV
          git log -1 --pretty=oneline
          git submodule
          rm -rf ${{ github.event.repository.name }}
          ln -s ../.. ${{ github.event.repository.name }}

      # attach GCC problem matcher - will pin problems to files only in current submodule
      - name: Add GCC problem matcher
        run: echo "::add-matcher::./.buildroot/phoenix-rtos-project/.github/problem-matchers/gcc.json"

      # step 3: use our custom action to build the project
      - name: Build
        id: build
        uses: ./.buildroot/phoenix-rtos-project/.github/actions/phoenix-build    # BUILD_DIRECTORY value, but we can't use templates here
        with:
          image-tag: ${{ inputs.image-tag }}
          target: ${{ matrix.target }}
          params: ${{ inputs.build_params }} ${{ matrix.additional_params }}
          buildroot: ${{env.CI_CUSTOM_BUILDROOT}}
          nightly: ${{ inputs.nightly }}

      # step 4: tar rootfs
      - name: Tar rootfs
        working-directory: ${{env.BUILD_DIRECTORY}}/_fs
        run: tar -cvf ../rootfs-${{ matrix.target }}.tar ${{ matrix.target }}/root


      # step 6: upload project boot directory and tarball of rootfs as build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: phoenix-rtos-${{ matrix.target }}
          path: |
            ${{env.BUILD_DIRECTORY}}/_build/${{ matrix.target }}/compile_commands.json
            
          #  ${{env.BUILD_DIRECTORY}}/_boot/${{ matrix.target }}
          #  ${{env.BUILD_DIRECTORY}}/rootfs-${{ matrix.target }}.tar
          #  ${{env.BUILD_DIRECTORY}}/_build/${{ matrix.target }}/compile_commands.json
            

  run-cpptest:
    needs: build
    name: Analyze project with C/C++test
    runs-on: self-hosted

    strategy:
      fail-fast: false
      matrix:
        target: ['armv7a9-zynq7000-qemu'] #, 'host-generic-pc', 'ia32-generic-qemu', 'riscv64-generic-qemu', 'sparcv8leon-generic-qemu', 'aarch64a53-zynqmp-qemu']

    # Specifies required permissions for upload-sarif action
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      pull-requests: write 
      actions: read
      contents: read

    steps:
      #- name: Checkout phoenix-rtos-project
      #  uses: actions/checkout@v4
      #  with:
      #    repository: bartekpaczek/phoenix-rtos-project-fork
      #    submodules: recursive
#
      #- name: Update submodule phoenix-rtos-kernel
      #  working-directory: phoenix-rtos-kernel
      #  run: |
      #    git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/heads/*:refs/remotes/origin/*"
      #    git fetch --recurse-submodules=no --force ${{ github.event.repository.clone_url }} "+refs/pull/*/head:refs/remotes/origin/pr/*"
      #    git checkout ${{ github.sha }} || git checkout ${{ github.event.pull_request.head.sha }}
#
      #- name: Download compile database artifacts
      #  uses: actions/download-artifact@v4
      #  with:
      #    name: phoenix-rtos-${{ matrix.target }}

      #- name: Get changed and added files
      #  working-directory: phoenix-rtos-kernel
      #  id: changed_files
      #  run: ../scripts/ci/changed_files.sh ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}

      - name: Run cpptestcli
        run: |
          mkdir -p reports
          cat << EOF > reports/report.sarif
          { "$schema": "https://docs.oasis-open.org/sarif/sarif/v2.1.0/errata01/os/schemas/sarif-schema-2.1.0.json", "version": "2.1.0", "runs": [ {"tool": { "driver": {"name": "C/C++test","semanticVersion": "2025.1.0", "results": [{ "ruleId": "MISRAC2012-RULE_8_7-a", "level": "warning", "message": { "text": "The function 'cond_get' is referenced only in the translation unit where it is defined" }, "partialFingerprints": { "lineHash": "-1423138235" }, "locations": [ { "physicalLocation": { "artifactLocation": { "uri": "file:/home/runner/work/phoenix-rtos-kernel-fork/phoenix-rtos-kernel-fork/proc/cond.c" }, "region": { "startLine": 25, "startColumn": 9, "endColumn": 10 } } } ] } ] } } } ] }
          EOF
          
        #  ls -la
        #  ls -la ..
        #  chmod +x scripts/ci/parasoft_cpptestcli.py
        #  scripts/ci/parasoft_cpptestcli.py phoenix-rtos-kernel/proc/cond.c
        #  scripts/ci/parasoft_cpptestcli.py phoenix-rtos-kernel/proc/cond.c
         

      # Setup reviewdog
      - name: ReviewDog setup
        uses: reviewdog/action-setup@v1.4.0

      - name: Post results using reviewdog
        #working-directory: phoenix-rtos-kernel
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat reports/report.sarif | reviewdog -f=sarif \
          -name=cpptest \
          -reporter=github-pr-review \
         # -fail-on-error=false

      # Uploads an archive that includes all report files (.xml, .html, .sarif).
      - name: Archive reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: CpptestReports
          path: reports/*.*

