# vim:sw=2:ts=2
name: ci

on:
  push:
    branches:
      - master
      - 'feature/*'
  pull_request:
    branches:
      - master
      - 'feature/*'

jobs:
  call-ci:
    uses: phoenix-rtos/phoenix-rtos-project/.github/workflows/ci-project.yml@badochov/zynq7000-qemu-test-branch
    secrets: inherit
